body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #e2efe9;
}

header {
    background: black url(../afbeeldingen/header.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 4em 3em 4em 3em;
    margin-bottom: 0em;
}

header h1 {
    font-size: 4em;
    margin: 0 20% 0 20%;
}

header p {
    margin: 0 10% 0 10%;
}

h1, h2 {
    font-family: 'Suez One', serif;
}

h2 {
    margin: 4% 0 0 0;
}

p {
    margin-right: 20px;
}

.featured-image {
    float: left;
    margin: 4% 1em 2em ;
    border-radius: 0px;
}

.publicatie {
    text-align: right;
    color: #9da9a3;
    margin-right: 20px;
}

.publicatie i {
    color: green;
}

.publicatie + p {
    text-indent: 2em;
}

hr {
    margin: 0 0 0em 0;
    clear: both;
}