body {
    margin: 10px;
    padding: 0;
}

ul {
    display: block;
    width: 11rem;
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

li {
    display: block;
    background-color: #fea500;
    margin: 0 0 1px 0;
    text-align: center;
    padding: 0.7em;
}

a {
    display: block;
    margin: 0 0 0 4em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2; /* Voeg line-height toe om tekst te centreren */
}

a:hover {
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    margin: 0 0px 1px 0px;
    background: url(../icons/home.png) no-repeat 25px center, #fea500;
    background-size: 25px 25px;
}

.home:hover {
    background: url(../icons/home_over.png) no-repeat 25px center, black;
    background-size: 25px 25px;
}

.blog {
    margin: 0 0px 1px 0px;
    background: url(../icons/blog.png) no-repeat 25px center, #fea500;
    background-size: 25px 25px;
}

.blog:hover {
    background: url(../icons/blog_over.png) no-repeat 25px center, black;
    background-size: 25px 25px;
}

.learning {
    margin: 0 0px 1px 0px;
    background: url(../icons/learn.png) no-repeat 25px center, #fea500;
    background-size: 25px 25px;
}

.learning:hover {
    background: url(../icons/learn_over.png) no-repeat 25px center, black;
    background-size: 25px 25px;
}

.discuss {
    margin: 0 0 0 0px;
    background: url(../icons/discuss.png) no-repeat 25px center, #fea500;
    background-size: 25px 25px;
}

.discuss:hover {
    background: url(../icons/discuss_over.png) no-repeat 25px center, black;
    background-size: 25px 25px;
}