body {
    margin: 10px;
    padding: 0;
}

ul {
    display: block;
    width: 14rem;
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

li {
    background-color: #fea500;
}

a {
    background-color: #fea500;
    display: block;
    margin: 0 0 0 4em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    background-color: black;
    display: block;
    margin: 0 0 0 4em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background: #fea500 url(../icons/home.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0px 1px 0px;
}

.home:hover {
    background: black url(../icons/home_over.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0px 1px 0px;
}

.blog {
    background: #fea500 url(../icons/blog.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0px 1px 0px;
}

.blog:hover {
    background: black url(../icons/blog_over.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0px 1px 0px;
}

.learning {
    background: #fea500 url(../icons/learn.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0px 1px 0px;
}

.learning:hover {
    background: black url(../icons/learn_over.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0px 1px 0px;
}

.discuss {
    background: #fea500 url(../icons/discuss.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0 0 0px;
}

.discuss:hover {
    background: black url(../icons/discuss_over.png) no-repeat 25px center;
    background-size: 25px 25px;
    margin: 0 0 0 0px;
}